anndata==0.13.3.post0
decoupler==2.2.0
duckdb==1.5.5
huggingface_hub==1.29.0
matplotlib==3.11.1
numpy==2.5.2
pandas==3.0.5
pyarrow==25.0.1
pydeseq2==0.5.4
PyYAML==6.0.3
rdkit==2026.3.5
scanpy==1.12.4
scipy==1.18.1
snakemake==9.26.1
